<h1>My Developer Portfolio</h1>
<p>
    <a href="/about">About</a>
    <a href="/work">Work</a>
    <a href="/contact">Contact</a>
</p>
<p>This is my developer portfolio. I will list various things relating to
    my experience in the CS field.
</p>
